@media (max-width: 768px) {
    .title {
        font-size: calc(4em + 4vw);
    }
    
    .subtitle {
        font-size: calc(1.5em + 1.5vw);
    }
    
    .first,.second,.third {
        width: 100%;
    }
    
    @keyframes animSlideLeft {
        from { }
        to {
            -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
        }
    }

    @keyframes animSlideRight {
        from {
            -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
        }
        to {
            -webkit-transform: translateX(0%);
            transform: translateX(0%);
/*            animation-direction:alternate-reverse;*/
        }
    }
    
    @keyframes animSlidePrevResult {
        from {
            -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
        }
        to {
            -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
        }
    }

    @keyframes animSlideNextResult {
        from {
            -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
        }
        to {
            -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
        }
    }
}